{% extends 'base.html.twig' %}
{% block body %}
<!--上方標題欄-->
<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-11">
            <h1>存款明細列表</h1>
        </div>
        <div class="col-sm-1">
           <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-xl">
                 存款申請
            </button>
        </div>
    </div>
    </div>
</section>
<!--上方標題欄-->

<!--主要內容區-->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">存款明細列表</h3>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 10px">編號</th>
                            <th>訂單號</th>
                            <th>申請者暱稱</th>
                            <th>存款金額</th>
                            {# <th>存款前餘額</th>
                            <th>存款後餘額</th> #}
                            <th>交易創建時間</th>
                            <th>狀態</th>
                            <th>備註</th>
                        </tr>
                        </thead>
                        <tbody>
				{% for list in user_incoming_list_data %}
                        <tr>
                            <td>{{list.id}}</td>
                            <td>{{list.tradeNo}}</td>
                            <td>{{list.userName}}</td>
                            <td><span class="badge bg-danger">{{list.amount}}</span></td>
                            {# <td><span class="badge bg-success">{{list.beforeBalance}}</span></td>
                            <td><span class="badge bg-warning">{{list.afterBalance}}</span></td> #}
                            <td>{{list.createTime|date('Y/m/d H:i:s')}}</td>
                            {% if list.status == 1 %}
                                <td><span class="badge bg-danger">存款失敗</span></td>
                            {% elseif list.status == 2 %}
                                <td><span class="badge bg-success">存款成功</span></td>
                            {% else %}
                                <td><span class="badge bg-danger">等待處理中</span></td>
                            {% endif %}
                            <td>{{list.remark}}</td>
                        </tr>
				{% endfor %}
                        </tbody>
                    </table>
                </div>
                {# 分頁 #}
                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-right">
                        <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                    </ul>
                </div>
                {# 分頁 #}
        </div>
    </div>
</section>

<div class="modal fade" id="modal-xl">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">存款申請區</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="incoming_amount">存款金額</label>
                <input type="number" class="form-control" data-uid="{{uid}}" id="amount" placeholder="Enter number (ex: 100)">
            </div>
        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
            <button id="incomingSubmit" type="button" data-dismiss="modal" class="btn btn-primary">送出申請</button>
        </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    </div>
<!--主要內容區-->
<script>

    $('#incomingSubmit').click(function () {
        var amount = $("#amount").val();
        var jsonData = {};
        jsonData['amount'] = amount;

        $.ajax({
            type: 'POST',
            url: './redisIncoming',
            dataType: 'json',
            data: jsonData,
            success: function (res) {
                console.log(res)
                if (res.ret=='error'){
                    alert(res.msg);
                }else{
                    alert(res.msg+'餘額尚有'+res.ret.balance+'元');
                    window.location.reload();
                    {# $('#balance').html(res.ret.balance) #}
                }
            },
            error: function (err) {
                console.log(err)
            }
        });
    });
</script>
{% endblock %}
